
<p>
    Categorias:
    <select data-bind="options: categorias, value: selectedCategory, event: { change: selectionChanged } ">
</p>

<div class="flex-container wrap">
	<div class="card-box">
		<div class="row">
			<!--  ko foreach : productos  -->
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" data-bind="attr:{src: foto}" alt="Card image cap">
				<div class="card-body">
					<p class="card-subtitle mb-2" data-bind="html: nombre"></p>
					<label class="card-subtitle mb-2" data-bind="html: precio"></label>
					<label>€</label>
				</div>
				<button raised-button data-bind="click : function() { $parent.addAlCarrito(nombre); }" mat-flat-button
					color="green" class="btn btn-primary">Aniadir al carrito</button>
			</div>

			<!--  /ko -->
		</div>
	</div>
</div>
</div>
<!--<div class="demo-paging-control-container">
	<div class="demo-paging-control">
		<oj-paging-control id="pagingControl" data="[[productos]]" page-size="0" page-options='{"type": "dots"}'>
		</oj-paging-control>
	</div>
</div>-->