<div class="oj-hybrid-applayout-page">
	<div class="oj-applayout-fixed-top">
		<header role="banner" class="oj-hybrid-applayout-header">
			<oj-module config="[[headerConfig]]"></oj-module>
		</header>
	</div>
	<!-- This is where your main page content will be loaded -->
	<div class="oj-applayout-content">
		<div role="main" class="oj-hybrid-applayout-content">
			<div class="oj-hybrid-padding">
				<h1>Cambio de contraseña</h1>
				<div id="divCambioPass">
					<input type="password" placeholder="Contraseña" data-bind="value : pwd1"> 
					<input type="password" placeholder="Repite contraseña" data-bind="value : pwd2">
					<button id="btnCrearCuenta" data-bind="click : recover">Cambiar contraseña</button>
					<div class="oj-sm-12" data-bind="html : message" style="color : blue">
					</div>
					<div class="oj-sm-12" data-bind="html : error" style="color : red">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>