/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

.sendOffScreen {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card{
  margin: 8px;

}

.card label[class="nombre"]{
  width: 200px;
}

.card-deck {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.btn-group-dropright{
  margin-bottom: 150px;
  margin-top: 50px;
}

.pager a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 3rem;
}

.pager [class = "previous"]{
  color: #00529c;
}

.pager [class = "next"]{
  color: #00529c;
}

.mb-3 input[type="text"]{
  margin-left: 15px;
}


.login {
  width: 300px;
  margin: 55px auto;
  font-size: 16px;  
}

.login-header,
.login p {
  margin-top: 10;
  margin-bottom: 0;
}

.login-header {
  background: #23bfca;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
 
}

.login-container {
  background: #f7f4f4;
  padding: 10px;
  
}

.login p {
  padding: 6px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 10%;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  margin-top: 5px;
  margin-bottom: 5px;
}


/* Text fields' focus effect */

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

